/* Este é o css feito por nós(alunos do projeto) que será contabilizado para o projeto de TI. */


.alertMessage{
/* Classe usada para definir a posição dos "alerts" */

    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    padding: 10px;
    width: 25%;
}

.btnsSettings {
    position: absolute;
    bottom: 0;
    right: 0;
    float: right;
}

img.center
{
    position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
}
