/* Este é o css feito por nós(alunos do projeto) que será contabilizado para o projeto de TI. */

#titleRed {
    color: red;
    left:0px;
    top:0px;

  }

.alertMessage{
/* Classe usada para definir a posição dos "alerts" */

    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    padding: 10px;
    width: 25%;
}

.btnsSettings {
    position: absolute;
    bottom: 0;
    right: 0;
    float: right;
}

.buttonImportant {
    display: inline-block;
    border-radius: 4px;
    border: 5px solid #000000;
    background-color: #f42420;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;  
  }
  
  .buttonImportant span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    opacity: 0.5;
  }
  
  .buttonImportant span:after {
    content: '!!!';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttonImportant:hover span {
    padding-right: 25px;
    opacity: 1;
  }
  
  .buttonImportant:hover span:after {
    opacity: 1;
    right: 0;
  }
/* WORK IN PROGRESS
  .buttonLog {
    display: inline-block;
    border-radius: 4px;
    border: 5px solid #000000;
    background-color: #f42420;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    width: 200px;
    cursor: pointer;
  }

  .closeCross { 
    cursor: pointer;
    transform: translate(0%, -50%);
    color: #000000;
    background-color: #191c24;
   
  }

  .closeCross:hover {color: #f42420;}
*/

  .buttonGreen {
    background-color: #191c24; 
    color: #04AA6D; 
    border: 2px solid #04AA6D;
  }
  
  .buttonGreen:hover {
    background-color: #04AA6D;
    color: white;
  }
  
  .buttonBlue {
    background-color: #191c24; 
    color: #008CBA; 
    border: 2px solid #008CBA;
  }
  
  .buttonBlue:hover {
    background-color: #008CBA;
    color: white;
  }
  
  .buttonRed {
    background-color: #191c24; 
    color: #f44336; 
    border: 2px solid #f44336;
  }
  
  .buttonRed:hover {
    background-color: #f44336;
    color: white;
  }
  
  .buttonYellow {
    background-color: #191c24;
    color: #c5980e;
    border: 2px solid #c5980e;
  }
  
  .buttonYellow:hover {background-color: #c5980e;
    color: white;}
  

  .movingIcon {
    visibility: hidden;
    position: absolute;
    left: -150px; /* Start off-screen */
    animation:left-right 6s forwards; /* 'forwards' keeps it at final position */
  }

  @keyframes left-right {
    0%   {visibility: visible; left:-150px; top:0px;}
    99% {visibility: visible; left:110%; top:300px;}
    100% {visibility: hidden;}
  }


  body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scroll */
}